{__NOLAYOUT__}
<include file="Public:header" />
<main>
    <div class="wrapper">
        <div class="login">
            <form action="{:U('Login/doLogin')}" method="post">
                <div class="edit-row">
                    <label for="login-name">用户名 </label>
                    <input type="text" id="login-name" name="username" placeholder="请输入用户名">
                </div>
                <div class="edit-row">
                    <label for="login-pass">密码 </label>
                    <input type="password" id="login-pass" name="password" placeholder="请输入密码">
                </div>
                <div class="edit-row">
                    <input type="submit" value="登录">
                </div>
            </form>
        </div>
<include file="Public:footer" />