<div class="login">
    <form action="{:U('User/doEdit')}" method="post">
        <input type="hidden" name="id" value="{$per.id}">
        <div class="edit-row">
            <label for="login-name">用户名 </label>
            <input type="text" id="login-name" name="username" value="{$per.username}">
        </div>
        <div class="edit-row">
            <label for="login-pass">密码 </label>
            <input type="password" id="login-pass" name="password" value="{$per.password}">
        </div>
        <div class="edit-row">
            <input type="submit" value="添加用户">
        </div>
    </form>
</div>